

.hori_cont{
    display: flex;
    margin-bottom: 30px;
}


.profile_wrap{
    width: 35%;

}

.profile_img{
   border : 1px #e6e6e6; 
    width: 200px;
    height: 200px;
    overflow:hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.profile_img img{
    width: 100%;
    height: 100%;
}


.detail{
    /*display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;*/
}
.detail .top{
    display: flex;
    align-items: center;
}

.detail .top .user_name{
    font-size: 35px;
    font-weight: 200;
    display: inline-block;
    padding-right: 25px;
    margin-top: 10px;
}

.detail_button{ /*기본 menu 버튼 style 속성*/   
      position: relative;
      color: #5f6368;
      border: solid 1px #dadce0;
      border-radius: 1vw;
      display: inline-block;
      padding: 6px 8px 6px 8px; 
      /*padding: top right bottom left*/
      cursor: pointer;
   }

.clicked_detail_button{ /*클릭 시 적용되는 style 속성*/
      border-color: #ec7600;
      color: #ec7600;
      background: #ffe2c6;
   }

.detail .top #trigger_profile_edit{
    font-size: 15px;
    display: inline-block;
    margin-top: 20px;
    margin-right:5px;
}

.detail .top #trigger_logout{
    font-size: 15px;
    display: inline-block;
    margin-top: 20px;
}

.detail .top > a{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #262626;
    padding: 3px 20px;
    font-weight: 600;
    vertical-align: text-bottom;
    text-decoration: none;
    box-sizing: border-box;
}


.detail .middle{
    display: flex;
    height: 18px;
    padding: 20px 0px 0px;
    font-size: 15px;
    font-weight: 600;
}


.detail .middle > li{
    margin-right: 35px;
}
.detail .about > span{
    display:inline-block;
    cursor: pointer;
    position:relative;
}

.detail .about > span:nth-child(1){
    margin-right: 50px;
}


.detail .about > span:after{
    content:'';
    width:0;
    height:1px;
    position:absolute;
    left:0;
    bottom:-5px;
    transition:all 0.5s;
    background:#ff8040;
}

.detail .about > span.on:after{
    width:100%;
}

.detail .bottom{
    /*display: flex;*/
    text-align : left;
    height: 55px;
    padding: 20px 0px 0px;
    font-size: 15px;
    font-weight: 600;
}

.profile_wrap_right{
    width: 20%;

}

.profile_wrap_right .emotion_counts{
   margin-top:20px;
   margin-left:30px;
}

.detail .emotion_count{
    display: flex;
    align-items: center;
}

 /* 최근 감정 해시태그 */
ul.emotion_count li, ol.emotion_count li {
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}

.contents_container{
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
}

.contents_container.active{
    display: flex;
}

.contents_container .pic{
    max-width:300px;
    max-height:300px;
    overflow:hidden;
    margin-buttom:18px;

}

.contents_container .pic img{
    width: 100%;
    height: 100%;
}


@media screen and (min-width:300px) and (max-width:1000px) {

    .contents_container {
        justify-content: space-between;
    }


    .contents_container .pic{
        /* margin:10px; */
    }
}




